<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="CategoryService" class="com.ynlqc.service.impl.CategoryServiceImpl"></bean>
	<bean id="BrandService" class="com.ynlqc.service.impl.BrandServiceImpl"></bean>
	<bean id="SeriesService" class="com.ynlqc.service.impl.SeriesServiceImpl"></bean>
	<bean id="UserService" class="com.ynlqc.service.impl.UserServiceImpl"></bean>

   <bean id="BrandDao" class="com.ynlqc.dao.impl.BrandDaoImpl"/>
   <bean id="SeriesDao" class="com.ynlqc.dao.impl.SeriesDaoImpl"/>
   <bean id="UserDao" class="com.ynlqc.dao.impl.UserDaoImpl"/>
   <bean id="CategoryDao" class="com.ynlqc.dao.impl.CategoryDaoImpl"/>
</beans>